services:
  postgres:
    image: postgres:16
    container_name: ecommerce_pg
    restart: always
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: ecommerce_user
      POSTGRES_PASSWORD: ecommerce_pass
    ports:
      - "5432:5432"
    volumes:
      - ecommerce_pg_data:/var/lib/postgresql/data

volumes:
  ecommerce_pg_data:
